PHOTOPRISM_ADMIN_USER=admin
PHOTOPRISM_ADMIN_PASSWORD=changeme
PHOTOPRISM_AUTH_MODE=password
PHOTOPRISM_DATABASE_PASSWORD=changeme_db

MARIADB_ROOT_PASSWORD=changeme_root
MARIADB_DATABASE=photoprism
MARIADB_USER=photoprism
MARIADB_PASSWORD=changeme_db
